{% extends 'layouts.html' %}

{% load static %}

{% block content %}

  <div class="body_wrapper frm-vh-md-100">
   <div class="formify_body formify_signup_fullwidth formify_signup_fullwidth_two d-flex">
    <div class="formify_left_fullwidth formify_left_top_logo frm-vh-md-100 d-flex align-items-center justify-content-center" data-bg-color="#FFEFF9">
     <a class="top_logo" href="index.html">
      <img alt="" src="{% static 'assets/img/logo.png' %}"/>
     </a>
     <img alt="" class="img-fluid" src="{% static 'assets/img/personal_img.png' %}"/>
    </div>
    <div class="formify_right_fullwidth d-flex align-items-center justify-content-center">
     <div class="formify_box formify_box_checkbox background-white">
      <div class="formify_header">
       <h4 class="form_title">
        Ingenious Quiz App
       </h4>
       <p>
        Tell us a little bit about your problems, and we'll show
        <br/>
        you how our SaaS solution
                            can solve them.
       </p>
       <div class="border ml-0">
       </div>
      </div>
      <div class="tab-content" id="myTabContent">
       <div aria-labelledby="One-tab" class="tab-pane fade show active" id="One" role="tabpanel">
        <div class="number">
         1/3
        </div>
        <h6>
         How did you hear about this website?
        </h6>
        <form action="#" class="signup_form">
         <div class="box_info">
          <div class="form-check">
           <input checked="" class="form-check-input" id="budgetOne" name="gridRadios" type="checkbox" value="option1"/>
           <label class="form-check-label" for="budgetOne">
            Social Media
           </label>
          </div>
          <div class="form-check">
           <input class="form-check-input" id="budgetTwo" name="gridRadios" type="checkbox" value="option2"/>
           <label class="form-check-label" for="budgetTwo">
            Advertising
           </label>
          </div>
          <div class="form-check">
           <input class="form-check-input" id="budgetThree" name="gridRadios" type="checkbox" value="option3"/>
           <label class="form-check-label" for="budgetThree">
            Search Engine
           </label>
          </div>
          <div class="form-check">
           <input class="form-check-input" id="budgetFour" name="gridRadios" type="checkbox" value="option4"/>
           <label class="form-check-label" for="budgetFour">
            Friend
           </label>
          </div>
          <div class="form-check">
           <input class="form-check-input" id="budgetFive" name="gridRadios" type="checkbox" value="option5"/>
           <label class="form-check-label" for="budgetFive">
            Other
           </label>
          </div>
         </div>
        </form>
        <button class="btn thm_btn next_tab text-transform-inherit">
         Next
        </button>
       </div>
       <div aria-labelledby="Two-tab" class="tab-pane fade" id="Two" role="tabpanel">
        <div class="number">
         2/3
        </div>
        <h6>
         Which device did you use to access the website?
        </h6>
        <form action="#" class="signup_form">
         <div class="box_info">
          <div class="form-check">
           <input class="form-check-input" id="budgetSix" name="gridRadios" type="checkbox" value="option1"/>
           <label class="form-check-label" for="budgetSix">
            Desktop
           </label>
          </div>
          <div class="form-check">
           <input class="form-check-input" id="budgetSeven" name="gridRadios" type="checkbox" value="option2"/>
           <label class="form-check-label" for="budgetSeven">
            Laptop
           </label>
          </div>
          <div class="form-check">
           <input class="form-check-input" id="budgetEight" name="gridRadios" type="checkbox" value="option3"/>
           <label class="form-check-label" for="budgetEight">
            Pad
           </label>
          </div>
          <div class="form-check">
           <input class="form-check-input" id="budgetNine" name="gridRadios" type="checkbox" value="option4"/>
           <label class="form-check-label" for="budgetNine">
            Mobile
           </label>
          </div>
         </div>
        </form>
        <button class="btn thm_btn next_tab text-transform-inherit">
         Next
        </button>
       </div>
       <div aria-labelledby="Three-tab" class="tab-pane fade" id="Three" role="tabpanel">
        <div class="number">
         3/3
        </div>
        <h6>
         Are you satisfied that you found out the website?
        </h6>
        <form action="#" class="signup_form">
         <div class="box_info">
          <div class="form-check">
           <input class="form-check-input" id="budgetTen" name="gridRadios" type="checkbox" value="option1"/>
           <label class="form-check-label" for="budgetTen">
            Very Satisfied
           </label>
          </div>
          <div class="form-check">
           <input class="form-check-input" id="budgetEleven" name="gridRadios" type="checkbox" value="option2"/>
           <label class="form-check-label" for="budgetEleven">
            Satisfied
           </label>
          </div>
          <div class="form-check">
           <input class="form-check-input" id="budgetTweleve" name="gridRadios" type="checkbox" value="option3"/>
           <label class="form-check-label" for="budgetTweleve">
            Neutral
           </label>
          </div>
          <div class="form-check">
           <input class="form-check-input" id="budgetThirteen" name="gridRadios" type="checkbox" value="option4"/>
           <label class="form-check-label" for="budgetThirteen">
            Unsatisfied
           </label>
          </div>
          <div class="form-check">
           <input class="form-check-input" id="budgetFourteen" name="gridRadios" type="checkbox" value="option5"/>
           <label class="form-check-label" for="budgetFourteen">
            Very unsatisfied
           </label>
          </div>
         </div>
         <button class="btn thm_btn text-transform-inherit" type="submit">
          Submit
         </button>
        </form>
       </div>
      </div>
      <ul class="nav nav-tabs form_tab" id="myTab" role="tablist">
       <li class="nav-item">
        <a aria-controls="One" aria-selected="true" class="nav-link active" data-toggle="tab" href="#One" id="One-tab" role="tab">
        </a>
       </li>
       <li class="nav-item">
        <a aria-controls="Two" aria-selected="false" class="nav-link" data-toggle="tab" href="#Two" id="Two-tab" role="tab">
        </a>
       </li>
       <li class="nav-item">
        <a aria-controls="Three" aria-selected="false" class="nav-link" data-toggle="tab" href="#Three" id="Three-tab" role="tab">
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  

  {% endblock %}